.breadcrumbs {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.breadcrumbs__list {
    display: flex;
    color: #9A9A9A;
}

.breadcrumbs__item--slash {
    display: flex;
}

.breadcrumbs__item--slash::after {
    content: "/";
    margin: 0 3px;
}

.breadcrumbs__link {
    text-decoration-line: underline;

}

.breadcrumbs__link--active {
    font-weight: 700;
}