.about {
    padding-top: 68px;
    padding-bottom: 52px;
}

.about__container {
    display: flex;
}

.about__container::before {
    content: "";
    display: block;
    width: 490px;
    height: 505px;
    background: url("../../img/cameraman.png") center center / cover no-repeat;
}

.about__card {
    display: flex;
    flex-direction: column;
    max-width: 785px;
    padding: 70px 202px 66px 81px;
    background: #fff;
    border-radius: 5px;
    margin-top: 97px;
    margin-left: -136px;
}

.about__text {
    margin-top: 35px;
    line-height: 27px;
    color: #060606;
}

.about__button {
    width: 168px;
    margin-top: 42px;
}