.footer {
    padding-top: 41px;
    padding-bottom: 50px;
}

.footer--services {
    padding-bottom: 33px;
}

.footer__container {
    display: flex;
}

.footer__container-services {
    padding-top: 7px;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    width: 50%;
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer__menu {
    margin-left: 130px;
}

.socials {
    margin-left: 112px;
}

.socials__list {
    display: flex;
    gap: 10px;
}

.socials__link {
    filter: brightness(0.5);
    transition: 0.4s;
}

.socials__link:hover {
    filter: brightness(1);
}

.contacts__call-free {
    font-size: 11px;
    line-height: 20px;
}

.footer__contacts {
    margin-top: 6px;
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
}